@charset "UTF-8";

.h2BackImg {
	background-image: url("../images/menu/menu_h2.jpg");
}

.sec {
    font-size: 1.5em;
    font-weight: bold;
    width: 25%;
    text-align: center;
    margin: 2em auto 0;
    font-family: "Hina Mincho";
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    line-height: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
	margin: 5em auto 2em;
}
@media screen and (max-width: 599px) {
	.sec {
        font-size: 1em;
        margin: 4em auto 0 0;
		width: 40%;
    }
}

.seatSecDiv {
	clear: both;
	width: 90%;
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
	/* margin: 8em 0; */
}
/* @media screen and (max-width: 599px) {
	.seatSecDiv {
		margin: 4em 0 4em;
    }
} */
.seatSecDiv:last-child {
	margin: 0 0 8em;
}

@media screen and (max-width: 599px) {
	.seatSecDiv:last-child {
		margin: 0 0 4em;
    }
}


.seatSecDiv:nth-child(even) {
	float: right;
}

.seatSecDiv:nth-child(odd) {
	flex-direction: row-reverse;
}

.seatSecContent {
	flex: 1 1 45%;
}
.seatSecSeat {
	flex: 1 1 43%;
    padding: 10px;
    background-color: #fff;
    border: rgba(0,0,0,0.2) 1px solid;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}
@media screen and (max-width: 599px) {
	.seatSecContent {
		flex: 1 1 60%;
    }
}


.seatSecContent h4 {
	font-size: 1.5rem;
	padding: 1em 0 0.25em 1rem;
	border-bottom: 1px solid #000;
}
@media screen and (max-width: 599px) {
	.seatSecContent h4 {
		font-size: 1.125rem;
		padding-bottom: 0;
		border-bottom: none;
    }
}

.seatSecDiv:nth-child(odd) .seatSecContent h4,
.seatSecDiv:nth-child(odd) .seatSecContent p {
	padding-left: 2rem;
}
@media screen and (max-width: 599px) {
	.seatSecDiv:nth-child(odd) .seatSecContent h4 {
		text-align: right;
    }
}

.seatSecContent h4 span {
	font-size: 1rem;
	padding-left: 0.75em;
}
@media screen and (max-width: 599px) {
	.seatSecContent h4 span {
		font-size: 0.875rem;
    }
}

.seatSecContent p {
	padding: 0.5em 1rem;
	line-height: 1.5em;
	width: 80%;
}
@media screen and (max-width: 599px) {
	.seatSecContent p {
		font-size: 0.875rem;
		margin-left: 10%;
		border-left: 1px solid #000;
		padding: 0.5rem 1rem 1.5em;
    }
}

@media screen and (max-width: 599px) {
	.seatSecDiv:nth-child(odd) .seatSecContent p {
		margin-left: 0;
		margin-right: 10%;
		border-right: 1px solid #000;
		border-left: 0px solid #fff;
    }
}

footer {
	clear: both;
}




.slider-wrapper {
	margin-top: 2em;
	width: calc(100% - 10px);
	max-width: 1200px;
	padding: 5px;
	overflow-x: auto;
	overflow-y: hidden;
	background: #f1f1f1;
	
  }
  
  .slider {
	/*width: 1500px;*/
	-webkit-overflow-scrolling: touch;
  	/*touch-action: pan-x pan-left pan-right;*/
  }
  
  /*.scroll-auto {
  -webkit-overflow-scrolling: auto;
	}*/
  
  .slider > * {
	-webkit-transform: translateZ(0px);
  }
  
  .slider-wrapper::-webkit-scrollbar {
	display: none;
	height: 0 !important;
  }
  
  .unit {
	float: left;
	width: 288px;
	margin: 0 0 0 5px;
	border: 1px solid #DDDDDD;
	background: #fff;
  }
  
  .unit:first-child {
	margin: 0;
  }
  
  .unit .img {
	text-align: center;
  }

  .caption {
	  font-size: 1em;
	  font-family: "Hina Mincho";
	  font-weight: bold;
	  line-height: 2.5em;
	  color: rgb(53, 53, 53);
	  padding-top: 0.25em;
	  padding-left: 1rem;
  }

  .discription {
	  font-size: 0.875em;
	  line-height: 1.5em;
	  padding: 0 1rem 1.25em;
  }

.teaMenu {
	padding: 0.5em 1rem;
  	padding-left: 1rem;
	line-height: 1.5em;
	width: 80%;
	font-size: 1em;
	/*list-style: disc;*/
}

.teaMenu li::before {
	content: " - ";
	padding-right: 0.5em;
}


@media screen and (max-width: 599px) {
	.teaMenu {
		/*padding: 0.5em 1rem;
	  	padding-left: 1rem;
		line-height: 1.5em;
		width: 80%;*/
		font-size: 0.875em;
	}
}
